:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --back: url("/juegos/src/Icon.jpg");
  --memory1: #fac;
  --memory2: #ddccaa;
  --memoryfront: url("/juegos/src/memory.png");
  --escape1: #54a29e;
  --escape2: #a79d66;
  --escapefront: url("/juegos/src/escape.png");
  --escritura1: #efb2fb;
  --escritura2: #acc6f8;
  --escriturafront: url("/juegos/src/escritura.png");
  --laberunto1: #efb2fb;
  --laberunto2: #acc6f8;
  --laberuntofront: url("/juegos/src/laberinto.png");
  --soccer1: #efb2fb;
  --soccer2: #acc6f8;
  --soccerfront: url("/juegos/src/soccer.png");
  --tiroalblanco2: #acc6f8;
  --tiroalblanco1: #efb2fb;
  --tiroalblancofront: url("/juegos/src/tiroalblanco.png");
  --torre2: #acc6f8;
  --torre1: #efb2fb;
  --torrefront: url("/juegos/src/torre.png");
  --tricky2: #acc6f8;
  --tricky1: #efb2fb;
  --trickyfront: url("/juegos/src/tricky.png");
}

.card {
  width: clamp(12.9vw, 91vh, 28vw);
  height: clamp(15vw, 11vh, 65.2vw);
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.cards {
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .card {
    width: clamp(42.9vw, 91vh, 48vw);
    height: clamp(58vw, 115vh, 65.2vw);
  }
  .cards {
    flex-direction: column;
  }
}

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.memory {
  --color1: var(--memory1);
  --color2: var(--memory2);
  --front: var(--memoryfront);
}

.card.escape {
  --color1: var(--escape1);
  --color2: var(--escape2);
  --front: var(--escapefront);
}

.card.laberunto {
  --color1: var(--laberunto1);
  --color2: var(--laberunto2);
  --front: var(--laberuntofront);
}

.card.escritura {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--escriturafront);
}

.card.soccer {
  --color1: var(--soccer1);
  --color2: var(--soccer2);
  --front: var(--soccerfront);
}

.card.tiroalblanco {
  --color1: var(--tiroalblanco1);
  --color2: var(--tiroalblanco2);
  --front: var(--tiroalblancofront);
}

.card.torre {
  --color1: var(--torre1);
  --color2: var(--torre2);
  --front: var(--torrefront);
}

.card.tricky {
  --color1: var(--tricky1);
  --color2: var(--tricky2);
  --front: var(--trickyfront);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
  animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
  animation: holoCard 12s ease 0s 1;
}

.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
  animation: holoGradient 12s ease 0s 1;
}

.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
  animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {

  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }

  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }

  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }

  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }

  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {

  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }

  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }

  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }

  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }

  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@-webkit-keyframes holoGradient {

  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }

  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }

  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }

  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }

  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}

@keyframes holoGradient {

  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }

  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }

  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }

  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }

  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}

@-webkit-keyframes holoCard {

  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }

  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }

  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }

  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }

  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

@keyframes holoCard {

  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }

  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }

  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }

  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }

  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

.card.escritura:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.escritura:hover:before,
.card.escritura.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}

.demo .card {
  background-image: var(--back);
  font-size: 2vh;
}

.demo .card>span {
  position: relative;
  top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(2):after,
.demo .card:nth-of-type(3):before,
.demo .card:nth-of-type(3):after {
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after {
  display: none;
}

.demo .card:nth-of-type(2) {
  background: none;
}

.demo .card:nth-of-type(2):before {
  display: none;
}

.demo .card:nth-of-type(3) {
  background: none;
}

.demo .card:nth-of-type(3):after {
  display: none;
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

html,
body {
  height: 100%;
  /* background-color: #333844; */
  padding: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0.1px);
}

body {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  font-family: "Heebo", sans-serif;
  text-align: center;
}

h1 {
  display: block;
  margin: 30px 0;
}

p {
  margin-top: 5px;
  font-weight: 200;
}

#app {
  position: relative;
}

.demo,
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}




.cards .card:nth-child(2),
.cards .card:nth-child(2):before,
.cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.cards .card:nth-child(3),
.cards .card:nth-child(3):before,
.cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.cards .card:nth-child(4),
.cards .card:nth-child(4):before,
.cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

p {
  font-weight: 400;
  font-size: 18px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 0;
  -webkit-animation: rubberBand 1.5s linear 3s 1;
  animation: rubberBand 1.5s linear 3s 1;
}

.promo {
  margin-top: 50px;
}

.promo img {
  margin-top: 10px;
  max-width: 80%;
}

p a {
  color: cyan;
}

html,
body,
main {
  min-height: 100%;
}

@-webkit-keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

header {
  padding: 20px;
  /* Espaciado interno del encabezado */
  flex-direction: row;
  color: #fff;
  /* Color de texto del encabezado (puedes ajustarlo) */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.logo img {
  max-width: 200px;
  /* Ajusta el tamaño máximo del logo según sea necesario */
}
h1{
  font-size: 80px;;
}
h2{
  font-size: 60px;
}